.whiteCell {
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    background-color: #F5DEB3;
    height: 80px;
    width: 80px;
}

.darkCell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #C19A6B;
    height: 80px;
    width: 80px;
}